**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/

**/*.user
**/*.suo
**/*.log
**/*.tmp

**/.env
**/appsettings.Development.json

.git/
.gitignore

MeetSpaceFrontend/**/build/
MeetSpaceFrontend/**/.dart_tool/
MeetSpaceFrontend/**/.packages
MeetSpaceFrontend/**/pubspec.lock